body {
    background: url("../images/bg.jpg");
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    font-size: small;
    color: white;
    margin: auto;
}

.center {
    text-align: center;
    margin: auto;
}

.header {
    line-height: 3px;
    margin: auto;
    width: 400px;
}

.camera {
    margin: auto;
    border: 2px solid darkgreen;
    background-color: #565252;
    color: yellow;
    width: 400px;
    height: 400px;
}

.controls {
    margin: auto;
    border: 2px solid darkgreen;
    background-color: #000;
    width: 400px;
}

.outsideWrapper {
    position: relative;
    top: 0px;
    left: 0px;
    padding: 0px;
}

.insideWrapper {
    position: relative;
    top: 0px;
    left: 0px;
    padding: 0px;
}

.coveredImage {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
}

.coveringCanvas {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
}
